<!DOCTYPE html>
<html lang="en-us">
<%- include("header") %>

<body>
  <%- include("navbar") %>

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Bob's Factory</h1>
      <p>Employee Management System</p>
      <p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Manage some employees &raquo;</a>
      </p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <h2>Employee Table</h2>
    </div>
    <div class="row">
      <%- include("list") %>
    </div>
    <div class="row">
      <%- include("new") %>
    </div>

    <%- include("footer") %>
  </div>

  <%- include("scripts") %>
</body>

</html>
